

@media only screen and (min-width:280px) and (max-width:900px)
{
    nav
    {
        font-size: calc(0.5rem + 1vw) !important;
        padding: 0.3rem;
    }
    nav h4 
    {
        font-size: calc(0.3rem + 1vw) !important;
    }
    #logo-display
    {
      
        display: flex !important;
       
    }
  

}
@media only screen and (min-width:280px) and (max-width:600px)
{
   #navbar div ul
{
    display:none!important;
}

nav
{
    height: 1vh;
}

}
